# 最上位の設定ファイルであることを宣言
root = true

# 全てのファイルに対する基本設定
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf
charset = utf-8-bom


# C# ファイルに対する設定
[*.cs]
# .NET/WPFコンパイラと最も相性が良く、Roslynでの読み込みが安定するUTF-8 BOMを指定
charset = utf-8-bom
# using の整理ルール
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

# 不要な using を削除対象（警告）とする
dotnet_diagnostic.IDE0005.severity = warning


# XAML ファイルに対する設定（WPF用）
[*.xaml]
charset = utf-8-bom

# Markdown ファイルに対する設定
[*.md]
trim_trailing_whitespace = false
